@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
    background-image: url("fondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Outfit", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 2vh;
    margin-bottom: 3vh;
    background-color: rgba(255, 255, 255, 0.85);
    color: #1a1a1b;
    padding: 15px 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 2.0rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.top-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #eee;
    transition: 0.3s;
}

#main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#word_grid {
    display: grid;
    gap: 5px;
    padding: 20px 50px;
    background-color: rgba(0, 47, 255, 0);
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    gap: 6px;
}

.cell {
    border: 2px solid #3a3a3c;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
}

#keyboard {
    margin-top: 3vh;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.key {
    border-radius: 8px;
    border: none;
    min-width: 30px;
    height: 60px;
    padding: 0 30px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    background-color: #d3d6da;
    color: #1a1a1b;
    font-family: "Outfit", sans-serif;
    transition: background-color 0.2s, box-shadow 0.1s ease-out, transform 0.1s ease-out;
    box-shadow: 0 4px 0 0 #1a1a1b;
    outline: none;
}

.key:focus,
.key-active {
    box-shadow: none;
    transform: translateY(4px);
}

.key:hover,
.top-btn:hover {
    background-color: #bbb;
}

.cell-green {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.cell-orange {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.cell-grey {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}

.keyPressed {
    background-color: #787c7e;
    color: #ffffff;
}

.k-enter,
.k-back {
    min-width: 65px;
}

#game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    width: 550px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
    color: #1a1a1b;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#modal-header {
    padding: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#modal-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.modal-header-won {
    background-color: #6aaa64;
}

.modal-header-lost {
    background-color: #e33b3b;
}

.play-again-btn {
    position: absolute;
    bottom: 35px;
    background-color: #5a5a5a;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#play-again-btn:hover {
    background-color: #2b2b2b;
}

#game-modal.hidden {
    display: none !important;
}

#game-modal.visible {
    display: flex !important;
}